openapi: 3.0.0
info:
  title: HyperSync Core API
  version: 1.2.0
  description: |
    Core API for geometry, consensus, and holonic orchestration.
    Updated with mathematical foundation endpoints.

servers:
  - url: https://api.hypersync.io
    description: Default production endpoint
  - url: https://sandbox.hypersync.io
    description: Sandbox endpoint

paths:
  /geometry/distance:
    post:
      summary: Calculate geometric distance between two points
      operationId: calculate_distance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistanceRequest'
      responses:
        '200':
          description: Distance calculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceResponse'

  /geometry/topology-snapshots:
    get:
      summary: List recent topology snapshots
      operationId: list_topology_snapshots
      responses:
        '200':
          description: List of snapshots
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Snapshot'

  /geometry/curvature:
    post:
      summary: Calculate Riemannian curvature at a point
      operationId: calculate_curvature
      tags: [Mathematical Foundations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                point:
                  type: array
                  items:
                    type: number
                metric_tensor:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
      responses:
        '200':
          description: Curvature tensor
          content:
            application/json:
              schema:
                type: object
                properties:
                  curvature:
                    type: number

  /geometry/holonomy:
    post:
      summary: Compute holonomy along a loop
      operationId: compute_holonomy
      tags: [Mathematical Foundations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                loop_path:
                  type: array
                  items:
                    type: array
                    items:
                      type: number
      responses:
        '200':
          description: Holonomy group element
          content:
            application/json:
              schema:
                type: object
                properties:
                  matrix:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
